body {
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    font-family: arial
}

.card {
    margin: 40px;
    padding: 20px;
    height: 300px;
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center
}